bundle.js
node_modules/
config.js

# API Keys
server/yelprestaurant/creds.js

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/

#.DS_Store
react-client/.DS_Store
server/.DS_Store

#database
database-mongo/data